.header li {
  display: block;
  padding: 8px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: rgb(91, 64, 5);
  border-color: black;
}
div {
    font-family: "project";        
}
