
h1 {
   background-color: rgb(214, 188, 149);
   height : 35px;
   width: 940px;
   padding: 3rem;
   margin-left: 40px;
   border-radius: 1rem;
   text-align : center;
   line-height : 45px;
   font-weight: 600;
}

.total {
   font-family: 'Nanum Gothic Coding', monospace;
}