.header li {
  display: block;
  padding: 8px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: rgb(91, 64, 5);
  border-color: black;
  
}
/* 
.total{
    font-family: 'Yeon Sung';
} */
.background{
  width: 200%;
  height: 900px;
  background-image: url(../back.png);
  z-index: -9999;
  position: absolute;
  background-size: cover;
}
@media screen and (max-width: 700px) {.background{
height:1400px;
background-image: url(../back.png);
}
  
}
;