body {
  margin: 0;
  font-family:  'Noto Serif Ahom', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style:none;
  padding-left:0px;
  }

  *{
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 600;
}